:root {
  -c-indigo: rgba(47, 44, 233, 1) 100%;
  -c-pastel-lavender: #cac9ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 30px;
  margin: auto 0;
}

/* results section */
.results-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(
    180deg,
    rgba(119, 85, 255, 1) 20%,
    rgba(47, 44, 233, 1) 100%
  );
  height: 45rem;
  border-radius: 0 0 70px 70px;
  text-align: center;
}

.results-section-header {
  color: #cac9ff;
  font-size: 3rem;
}

.results-section-score {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 8rem;
  font-weight: 700;
  border-radius: 50%;
  background: linear-gradient(
    1deg,
    rgba(0, 255, 255, 0) 0%,
    rgb(77 33 201) 90%
  );
  height: 20rem;
  width: 20rem;
  padding: 50px;
  align-self: center;
  justify-content: space-evenly;
}

.results-section-text {
  display: flex;
  flex-direction: column;
  color: white;
}

.results-section-text div {
  font-size: 3rem;
}

.results-section-percentage {
  color: #cac9ff;
  width: 55%;
  display: block;
  align-self: center;
  padding: 1rem;
}

/* summary section */
.summary-section {
  padding: 50px 80px;
}

.summary-section-header {
  color: #303b59;
}

.summary-section div {
  display: flex;
  justify-content: space-between;
}

.summary-section-test-scores {
  color: #303b59;
}

.out-of-total {
  color: hsl(240, 1%, 64%);
  font-size: 2rem;
}

img {
  width: 45px;
  vertical-align: text-bottom;
}

.reaction-category {
  background-color: hsl(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
  padding: 45px;
  margin: 20px 0;
  border-radius: 20px;
}

.memory-category {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
  padding: 40px;
  margin: 20px 0;
  border-radius: 20px;
}

.verbal-category {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
  padding: 40px;
  margin: 20px 0;
  border-radius: 20px;
}

.visual-category {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
  padding: 40px;
  margin: 20px 0;
  border-radius: 20px;
}

.continue-button {
  background-color: #303b59;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 30px 60px;
  display: block;
  width: 100%;
  font-size: larger;
  margin-top: 4rem;
}

.continue-button:hover {
  background: linear-gradient(
    180deg,
    rgba(119, 85, 255, 1) 10%,
    rgba(47, 44, 233, 1) 100%
  );
}

@media screen and (min-width: 1440px) {
  body {
    background: linear-gradient(180deg, hsl(0, 0%, 100%), hsl(221, 100%, 96%));
  }

  .desktop-container {
    display: flex;
    margin: auto;
    box-shadow: #cac9ff 25px 25px 60px 5px;
    border-radius: 70px;
    width: 80%;
    margin: 10%;
  }

  .results-section {
    height: auto;
    border-radius: 70px;
    width: 60%;
  }

  .summary-section {
    display: block;
    width: 50%;
  }
}
